<%- include('../partials/header') %>

    <section id="show-page">
        <div>Airline</div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Airport </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Flight Number: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Departs At: </div>
        <div>
            <%= flight.departs %>
        </div>
    </section>
    <br><br>
    <h2>Destinations</h2>
    <form action="/flights/<%=flight._id%>/destinations" method="POST">


        <label>Airport
        <select name="airport"> 
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        </select>
        </label><br>


        <label> Arrival 
            <input type="datetime-local" name="arrival" >
        </label>
        <input type="submit" value="ADD Destination">
    </form>
    <br><br><br>
    <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Destination</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(r) { %>
                    <tr>
                        <td>
                            <%= r.airport %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                                <%= r.arrival %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Destination Yet</h5>
            <% } %>

                <br><br><br>
                <label for="tickets">Tickets</label>
                <form action="/flights/<%=flight._id%>/tickets/new">
                    <input type="submit" value="Add Tickets">
                    <table>
                        <thead>
                            <tr>
                                <th>Seat</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tickets.forEach(function(t) { %>
                                <tr>
                                    <td>
                                        <%= t.seat %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%= t.price %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </form>
                <%- include('../partials/footer') %>